* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}


.country-details-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 40px;
}


h1 {
    margin-bottom: 20px;
    color: #007bff;
}


p {
    margin-bottom: 10px;
}

img {
    display: block;
    margin-top: 10px;
}


.capital-weather-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.capital-weather-container h1 {
    margin-bottom: 20px;
    color: #ff6347;
}